footer {
    @include size(100%, auto);
    font-family: "Montserrat", sans-serif;
    color: $color-texto;
    background-color: $color-bg;

    div {
        display: grid;
        grid-template-columns: auto 700px auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo intlinks-footer redes"
            "logo intlinks-footer redes"
        ;

        .logo-footer {
            grid-area: logo;
            @include flex(row, flex-end, center);

            img {
                @include size(150px, 150px);
            }
        }

        .intlinks-footer {
            @include size(auto, 100%);
            @include flex(column, space-between, center);
            grid-area: intlinks-footer;
            margin: 0px 30px 0px 30px;

            .secciones {
                @include size (100%, auto);
                @include flex(row, center, center);
                margin: none;

                div {
                    @include size(100%, auto);
                    @include flex(row, space-between, flex-start);

                    ul {
                        @include size (auto, auto);
                        @include flex (column, flex-start, flex-start);
                        list-style: none;
                        padding: 20px 20px 20px 20px;
                        margin-bottom: 0;

                        li {
                            @include flex(column, flex-start, flex-start);

                            h5 {
                                @include text(18px, $color-texto);
                            }

                            ul {
                                @include flex (column, center, flex-start);
                                list-style: none;
                                padding: 0;

                                li {
                                    background-color: transparent;

                                    a {
                                        color: $color-texto;
                                        text-decoration: none;

                                        h6 {
                                            @include text(14px, $color-texto);
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .politicas {
                @include size(100%, auto);
                @include flex(row, space-between, center);
                margin: none;

                h6 {
                    @include text(15px, $color-texto);
                    text-decoration: underline;
                    padding: 20px 10px 20px 10px;
                    margin-bottom: 0;
                }
            }
        }

        .redes {
            grid-area: redes;
            @include flex(row, flex-start, center);
            margin: 20px 0px 0px 0px;
            div {
                margin: 0;
                @include flex(column, center, center);
                h5 {
                    @include text(18px,$color-texto);
                    margin: 0px 0px 10px 0px;
                }

                div {
                    @include flex(column,flex-start,center);
                    div {
                        @include flex(row,flex-start,center);
                        a {
                            img {
                                @include size(50px,50px);
                                margin: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}