//!HEADER
header {
    nav {
        div {
            div {
                ul {
                    li {
                        @media screen and (max-width:992px) {
                            .cart-img {
                                display: none;
                            }

                            .cart-text {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

//!INDEX

body {
    main {

        /*Hero*/
        @media screen and (max-width:1357px) {
            .hero {
                div {
                    .hero-header {
                        h1 {
                            font-size: 48px;
                        }
                    }

                    .hero-copy {
                        h2 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width:915px) {
            .hero {
                background-image: url(../img/herobg-v.jpg);
                background-position: top 0 right 50%;
                height: auto;

                div {
                    height: 80vh;
                    justify-content: flex-end;
                    padding: 0 0 5vh 0;

                    .hero-header {
                        h1 {
                            font-size: 30px;
                        }
                    }

                    .hero-copy {
                        h2 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    .hero-buttons {

                        .sboton,
                        .oboton {
                            padding: 10px 6px 10px 6px;
                            border-radius: 10px;
                            font-size: 11px;
                        }
                    }
                }
            }

        }

        @media screen and (max-width: 608px) {
            .hero {
                div {
                    .hero-header {
                        h1 {
                            font-size: 23px;
                        }
                    }

                    .hero-copy {
                        h2 {
                            font-size: 13px;
                        }

                        p {
                            font-size: 11px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 710px) {
            .hero {
                div {
                    padding: 0 0 2vh 0;
                }
            }
        }

        @media screen and (max-width: 710px) {
            .hero {
                div {
                    height: auto;
                    padding: 20px 0px 20px 0px;
                }
            }
        }

        /*Story*/
        .story {
            @media screen and (max-width: 1512px) {
                div {
                    .story-video {
                        iframe {
                            @include size(550px, 337.5px);
                        }
                    }
                }
            }

            @media screen and (max-width: 1249px) {
                div {
                    .story-text {
                        h2 {
                            font-size: 30px;
                        }

                        h3 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    .story-video {
                        iframe {
                            @include size(450px, 253.125px);
                        }
                    }
                }
            }

            @media screen and (max-width: 1010px) {
                div {
                    @include size(auto, auto);
                    @include flex(column, space-evenly, center, center);

                    .story-text {
                        padding: 0 20px 80px 20px;
                    }
                }
            }

            @media screen and (max-width: 480px) {
                div {
                    .story-text {
                        padding: 0 20px 50px 20px;

                        h2 {
                            font-size: 26px;
                        }

                        h3 {
                            font-size: 18px;
                        }

                        p {
                            width: auto;
                            font-size: 15px;
                        }
                    }

                    .story-video {
                        iframe {
                            width: 300px;
                            height: 168.75px;
                        }
                    }
                }
            }
        }

        /*Offer*/
        .oferta {
            @media screen and (max-width:874px) {
                div {
                    .box-titulo {
                        h3 {
                            font-size: 21px;
                        }
                    }
                }
            }

            @media screen and (max-width:874px) {
                flex-direction: column;
                align-items: center;

                div {
                    @include size(90%, 16rem);
                    justify-content: center;

                    .box-titulo {
                        padding: 20px 0 20px 0;
                    }
                }
            }

            @media screen and (max-width: 433px) {
                div {
                    .box-titulo {
                        h3 {
                            font-size: 17px;
                        }
                    }

                    .box-boton {
                        a {
                            button {
                                padding: 11px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        /*Testimonios*/
        .testimonios {
            @media screen and (max-width: 1380px) {
                div {
                    div {
                        div {
                            .clientes {
                                div {
                                    div {
                                        h4 {
                                            margin-bottom: 3px;
                                        }

                                        h5 {
                                            margin-bottom: 3px;
                                        }

                                        p {
                                            margin: 3px 0 3px 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 1244px) {
                div {
                    div {
                        div {
                            .clientes {
                                div {
                                    div {
                                        margin-left: 14px;

                                        h4 {
                                            font-size: 18px;
                                            margin: 0;
                                        }

                                        h5 {
                                            font-size: 16px;
                                            margin: 0;
                                        }

                                        p {
                                            font-size: 14px;
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 1000px) {
                h2 {
                    font-size: 30px;
                }

                div {
                    div {
                        div {
                            .clientes {
                                div {
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: center;
                                    width: 40%;

                                    div {
                                        width: 90%;

                                    }

                                    img {
                                        height: 230px;
                                        width: 230px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 650px) {
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    div {
                        div {
                            .clientes {
                                div {
                                    width: 70%;
                                    text-align: center;

                                    div {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 433px) {
                h2 {
                    font-size: 30px;
                }

                div {
                    div {
                        div {
                            .clientes {
                                div {
                                    div {
                                        h4 {
                                            font-size: 18px;
                                        }

                                        h5 {
                                            font-size: 15px;
                                        }

                                        p {
                                            font-size: 14px;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        //!ABOUT
        /*Historia*/
        .historia {
            @media screen and (max-width: 1156px) {
                div {
                    div {
                        width: 30%;

                        h1 {
                            font-size: 40px;
                        }

                        h2 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }

            @media screen and (max-width: 1000px) {
                background-image: none;

                div {
                    justify-content: center;

                    div {
                        @include size(100%, 100%);
                        @include flex(column, flex-start, center);
                        text-align: center;
                        max-width: none;

                        h1 {
                            margin-top: 30px;
                        }


                        p {
                            margin-bottom: 30px;
                        }

                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            @media screen and (max-width:375px) {
                div {
                    div {

                        h1 {
                            font-size: 32px;
                        }

                        h2 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
            @media screen and (max-height: 780px) {
                height: 780px;
            }
        }

        /*Estudios*/
        .estudios {
            @media screen and (max-width: 1156px) {
                div {
                    div {
                        ul {
                            li {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 880px) {
                div {
                    flex-direction: column;

                    h2 {
                        display: block;
                        margin-bottom: 20px;
                    }

                    img {
                        width: 80%;
                    }

                    div {
                        width: 100%;

                        h2 {
                            display: none;
                        }
                    }
                }
            }

            @media screen and (max-width: 375px) {
                div {
                    div {
                        ul {
                            li {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        //!PLANES
        /*Info*/
        .gp-info {
            @media screen and (max-width: 1120px) {
                .gp-info-guias {
                    background-position: center;
                }

                .gp-info-planes {
                    background-position: center;
                }

                div {
                    div {
                        div {
                            h2 {
                                font-size: 38px
                            }

                            h3 {
                                font-size: 20px;
                            }

                            p {
                                font-size: 16px;
                            }

                            a {
                                button {
                                    margin: 5px 10px 5px 10px;
                                    padding: 10px 38px 10px 38px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 865px) {
                .gp-info-guias {
                    background-position: right;

                    .gp-info-text1 {
                        @include flex(row, center, center);
                        @include size(100%, 100%);
                        border-radius: 0;
                        background: rgb(22, 25, 37);
                        background: linear-gradient(100deg, rgba(22, 25, 37, 1) 0%, rgba(22, 25, 37, 0.8) 8%, rgba(22, 25, 37, 0.8) 92%, rgba(22, 25, 37, 1) 100%);
                    }
                }

                .gp-info-planes {
                    background-position: left;

                    .gp-info-text2 {
                        @include flex(row, center, center);
                        @include size(100%, 100%);
                        border-radius: 0;
                        background: rgb(22, 25, 37);
                        background: linear-gradient(100deg, rgba(22, 25, 37, 1) 0%, rgba(22, 25, 37, 0.8) 8%, rgba(22, 25, 37, 0.8) 92%, rgba(22, 25, 37, 1) 100%);
                    }
                }

                div {
                    div {
                        div {
                            @include size(80%, auto);
                            text-align: center;

                            h2 {
                                font-size: 30px;
                            }

                            h3 {
                                font-size: 18px;
                            }

                            p {
                                font-size: 14px;
                            }

                        }
                    }
                }
            }
        }

        /*Productos*/
        .gp-productos {
            @media screen and (max-width: 740px) {
                div {
                    @include size(95%, auto);
                    margin-bottom: 20px;

                    h2 {
                        font-size: 30px;
                        text-align: center;
                        margin: 15px 0 15px 0;
                    }

                    div {
                        margin-bottom: 20px;

                        div {
                            h3 {
                                font-size: 24px;
                            }

                            div {
                                margin: 0px;

                                div {
                                    @include size(170px, 272px);
                                    padding: 10px 5px 10px 5px;

                                    h4 {
                                        font-size: 16px;
                                    }

                                    div {
                                        h5 {
                                            font-size: 16px;
                                        }

                                        button {
                                            @include size(60px, 45px);

                                            img {
                                                @include size(26px, 26px)
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 430px) {
                div {

                    h2 {
                        font-size: 28px;
                        text-align: center;

                    }

                    div {

                        div {
                            h3 {
                                font-size: 20px;
                            }

                            div {
                                margin: 0px;

                                div {
                                    @include size(140px, 224px);
                                    border-radius: 20px;

                                    h4 {
                                        font-size: 14px;
                                    }

                                    div {
                                        h5 {
                                            font-size: 14px;
                                        }

                                        button {
                                            @include size(50px, 40px);

                                            img {
                                                @include size(22px, 22px)
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 359px) {
                div {
                    div {
                        div {
                            div {
                                div {
                                    @include size(120px, 192px);
                                }
                            }
                        }
                    }
                }
            }
        }

        /*Dudas*/
        .faq {
            @media screen and (max-width:850px) {
                .box-contacto {
                    a {
                        @include size(170px, 60px);
                    }
                }
            }
        }

        //!ASESORIAS
        /*Info*/
        .info-asesorias {
            @media screen and (max-width: 1000px) {
                background-position: center;

                div {
                    div {
                        h1 {
                            font-size: 38px;
                        }

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 16px;
                        }

                        div {
                            a {
                                button {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 820px) {
                background-position: right;

                div {
                    @include flex(row, center, center);
                    @include size(100%, 700px);
                    margin: 0;

                    background: rgb(22, 25, 37);
                    background: linear-gradient(100deg, rgba(22, 25, 37, 1) 0%, rgba(22, 25, 37, 0.8) 8%, rgba(22, 25, 37, 0.8) 92%, rgba(22, 25, 37, 1) 100%);

                    div {
                        @include size(80%, 100%);
                        background: none;
                        text-align: center;

                        h1 {
                            font-size: 32px;
                        }
                    }
                }
            }

            @media screen and (max-width: 500px) {
                div {
                    div {
                        h1 {
                            font-size: 26px;
                        }

                        h2 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 14px;
                        }

                        div {
                            a {
                                button {
                                    font-size: 12px;
                                    padding: 12px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        /*Contenidos*/
        .contenido-asesorias {
            @media screen and (max-width: 1200px) {
                div {
                    @include size(70%, 30%);

                    div {
                        img {
                            @include size(140px, 140px);
                        }

                        div {
                            div {
                                h3 {
                                    font-size: 20px;
                                }

                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 690px) {
                height: auto;

                div {
                    @include size(80%, auto);
                    margin-bottom: 60px;

                    div {
                        @include flex(column, center, center);
                        margin: 15px;

                        img {
                            @include size(170px, 170px);
                            padding: 0;
                        }

                        div {
                            @include flex(column, center, center);
                            @include size(100%, auto);

                            div {
                                text-align: center;

                                h3 {
                                    width: 100%;
                                }

                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .contenido-2 {
                    div {
                        @include flex(column-reverse, center, center);

                        div {
                            @include flex(column, center, center);
                        }
                    }

                }
            }

            @media screen and (max-width: 445px) {
                div {

                    div {
                        margin: 8px;

                        img {
                            @include size(110px, 110px);
                        }
                    }
                }
            }
        }

        /*Paquetes*/
        .paquetes-asesorias {
            @media screen and (max-width: 1400px) {
                @include size(100%, 40rem);

                div {
                    div {
                        @include size(250px, 450px);
                        border-radius: 25px;

                        h4 {
                            font-size: 20px;
                        }

                        ul {
                            li {
                                font-size: 14px;
                            }
                        }

                        div {
                            @include flex(column, center, center);
                            margin: 0;
                            padding: 0;

                            h5 {
                                font-size: 22px;
                            }

                            button {
                                @include size (90px, 45px);
                                padding: 0;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 990px) {
                div {
                    @include size(792px, auto);

                    div {
                        @include size(220px, 400px);
                        margin: 8px 12px 8px 12px;
                        padding: 8px 12px 8px 12px;

                        h4 {
                            font-size: 18px;
                        }

                        ul {
                            padding-left: 24px;

                            li {
                                padding-bottom: 8px;
                            }
                        }

                        div {
                            @include flex(row, space-around, center);
                        }
                    }
                }
            }

            @media screen and (max-width: 740px) {
                padding-bottom: 60px;
                @include size(100%, auto);

                div {
                    @include size(80%, auto);
                    @include flex(column, center, center);

                    div {
                        @include size(300px, 450px);
                    }
                }
            }
        }

        /*Preguntas*/
        .dudas {
            @media screen and (max-width: 996px) {
                div {
                    a {
                        @include size(239px, 80px);
                    }
                }
            }
        }

        //!CONTACTO
        /*Contacto*/
        .contacto {
            @media screen and (max-width: 970px) {
                .grid-container-contacto {
                    .contacto-header {
                        h1 {
                            font-size: 48px;
                        }
                    }

                    .contacto-datos {
                        div {
                            img {
                                @include size(120px, 120px)
                            }
                        }

                        .datos-header {
                            h2 {
                                font-size: 24px;
                            }
                        }
                    }

                    form {
                        div {
                            label {
                                font-size: 16px;
                            }

                            input {
                                font-size: 16px;
                            }
                        }

                        .form-header {
                            h2 {
                                font-size: 24px;
                            }
                        }
                        .form-consulta {
                            textarea {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 750px) {
                .grid-container-contacto {
                    padding: 0;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 85vh);
                    grid-template-areas:
                        "datos"
                        "form"
                    ;

                    .contacto-header {
                        display: none;
                    }

                    .contacto-datos {
                        @include size(100%,100%);
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(5, 20%);
                        grid-template-areas:
                            "dheader"
                            "dmail"
                            "dmail"
                            "dwsp"
                            "dwsp"
                        ;

                        div {
                            img {
                                @include size(170px,170px);
                            }
                        }

                        .datos-wsp {
                            a {
                                button {
                                    margin-top: 22px;
                                    font-size: 16px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }

                    form {
                        @include size(100%,100%);
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: repeat(6, 16.6666%);
                        grid-template-areas:
                            "fheader fheader"
                            "fnombre fnombre"
                            "fmail fmail"
                            "ftexto ftexto"
                            "ftexto ftexto"
                            "freset fenviar"
                        ;

                        .form-reset,
                        .form-enviar {
                            align-self: center;
                        }

                    }
                }
            }
            @media screen and (max-height: 685px) {
                .grid-container-contacto {
                    padding: 0;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 580px);
                    grid-template-areas:
                        "datos"
                        "form"
                    ;

                    .contacto-datos {
                        @include size(100%,100%);
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(5, 20%);
                        grid-template-areas:
                            "dheader"
                            "dmail"
                            "dmail"
                            "dwsp"
                            "dwsp"
                        ;
                    }

                    form {
                        @include size(100%,100%);
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: repeat(6, 16.6666%);
                        grid-template-areas:
                            "fheader fheader"
                            "fnombre fnombre"
                            "fmail fmail"
                            "ftexto ftexto"
                            "ftexto ftexto"
                            "freset fenviar"
                        ;

                    }
                }
            }
        }
    }
}












//!FOOTER
footer {
    @media screen and (max-width: 1000px) {
        div {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "logo"
                "redes"
                "intlinks-footer"
            ;

            .logo-footer {
                justify-content: center;
            }

            .intlinks-footer {
                width: 100%;
                margin: 0;
                padding: 0 30px 0 30px;

                .secciones {
                    div {
                        ul {
                            padding-right: 5px;
                            padding-left: 5px;
                        }
                    }
                }
            }

            .redes {
                justify-content: center;

                div {
                    div {
                        flex-direction: row;
                    }

                }
            }
        }
    }

    @media screen and (max-width: 570px) {
        div {
            .intlinks-footer {
                display: flex;
                padding: 0 15px 0 15px;

                .secciones {
                    width: 100%;

                    div {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 35% 65%;
                        grid-template-rows: auto auto;
                        grid-template-areas:
                            "about productos"
                            "ayuda ayuda"
                        ;
                        justify-content: flex-start;
                        align-items: flex-start;

                        ul {
                            padding: 10px 5px 10px 5px;
                        }

                        .secciones-about {
                            grid-area: about;
                        }

                        .secciones-productos {
                            grid-area: productos;
                        }

                        .secciones-ayuda {
                            grid-area: ayuda;
                        }
                    }
                }

                .politicas {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "copy cookies"
                        "seguridad seguridad"
                    ;
                    justify-content: flex-start;
                    align-items: flex-start;

                    h6 {
                        padding: 10px 5px 10px 5px;
                    }

                    .politicas-copy {
                        grid-area: copy;
                    }

                    .politicas-cookies {
                        grid-area: cookies;
                    }

                    .politicas-seguridad {
                        grid-area: seguridad;
                    }
                }
            }

            .redes {
                margin-top: 10px;
            }
        }
    }

    @media screen and (max-width: 385px) {
        div {
            .logo-footer {
                img {
                    width: 100px;
                    height: 100px;
                }
            }

            .intlinks-footer {
                .secciones {
                    div {
                        ul {
                            li {
                                h5 {
                                    font-size: 14px;
                                }

                                ul {
                                    li {
                                        h6 {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .politicas {
                    h6 {
                        font-size: 12px;
                    }
                }
            }

            .redes {
                div {
                    h5 {
                        font-size: 14px;
                    }

                    div {
                        div {
                            a {
                                img {
                                    width: 38px;
                                    height: 38px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}